<%= form_with(model: @institution, local: true) do |form| %>
  <div class="profile">
    <div class="profile-right">
      <ul>
        <li>
          <strong><%= form.label :name %></strong> 
          <%= form.text_field :name %>
        </li>
        <li>
          <strong><%= form.label :cnpj %></strong>
          <%= form.text_field :cnpj, maxlength: 14, pattern: '\d{14}', title: "CNPJ deve conter exatamente 14 números" %>
        </li>
        <li>
          <strong><%= form.label :institution_type %></strong>
          <%= form.select :institution_type, [["Universidade", "universidade"], ["Escola", "escola"], ["Creche", "creche"]] %>
        </li>
        <li>
          <%= form.submit %>
        </li>  
      </ul>
    </div>
  </div>

  <% if @institution.errors.any? %>
      <div id="error_explanation" style="background: #fdd; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
          <h2><%= pluralize(@institution.errors.count, "erro") %> impediram o salvamento:</h2>
          <ul>
          <% @institution.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
          </ul>
      </div>
  <% end %>
<% end %>