<section>
    <h1>
        <%= link_to invoices_path do%>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        Invoices
    </h1>

    <% if Invoice.any? %>
    <div class="profile">
    <div class="profile-left <%= @invoice.status == 'disabled' ? 'disabled-status' : '' %>">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Institution Icon" />
        <h2><%= @invoice.enrollment.student.name %></h2>
        <p><%=  @invoice.enrollment.institution.name %></p>
        <p>Parcela: <%= @parcel_number %> / <%= @total_parcels %></p>

        <div class="profile-buttons">
        <%= link_to "Excluir", invoice_path(@invoice),
                    method: :delete,
                    data: { turbo_confirm: "Tem certeza que deseja excluir?" },
                    class: "btn delete" %>
        </div>
    </div>

    <div class="profile-right <%= @invoice.status == 'disabled' ? 'disabled-status' : '' %>">
        <h3>Detalhes</h3>
        <ul>
        <li><strong>Id:</strong> <%= @invoice.id%></li>
        <li><strong>Valor:</strong>R$ <%= @invoice.invoice_price %></li>
        <li><strong>Data de vencimento:</strong> <%= @invoice.invoice_due_date %></li>
        <li><strong>Enrollment:</strong> <%= @invoice.enrollment_id %></li>
        <li><strong>Criada em:</strong> <%= l @invoice.created_at.to_date %></li>
        <li><strong>Uptade em:</strong> <%= l @invoice.updated_at.to_date %></li>
        <li><Strong>Status:</strong><%= @invoice.status.capitalize %></li>
        </ul>
    </div>
    </div>
    <% end %>
</section>